include MANIFEST.in
include README.md
recursive-include pyqrack *.so
recursive-include pyqrack *.so.*
recursive-include pyqrack *.a
recursive-include pyqrack *.dylib
recursive-include pyqrack *.lib
recursive-include pyqrack *.dll
recursive-include pyqrack *.exp
recursive-include pyqrack qrack_cl_precompile
recursive-include pyqrack qrack_cl_precompile.exe
